{% extends 'base.html' %}
{% block content %}
<h3>订单列表</h3>
<table class="table table-striped">
    <thead>
        <tr><th>订单号</th><th>下单人</th><th>地址</th><th>金额</th><th>配送员</th><th>时间</th><th>菜品数量</th><th>详情</th></tr>
    </thead>
    <tbody>
    {% for o in orders %}
        <tr>
            <td>{{ o.OrderId }}</td>
            <td>{{ o.Customer }}</td>
            <td>{{ o.LocationName }}</td>
            <td>¥{{ o.TotalPrice }}</td>
            <td>{{ o.DriverName or "未分配" }}</td>
            <td>{{ o.Delivery_Time }}</td>
            <td>{{ o.ItemCount }}</td>
            <td><a href="/order/{{ o.OrderId }}" class="btn btn-sm btn-primary">查看</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
